*{
    font-family: Ubuntu;
    margin: 0;
    padding: 0;
}
.transition-1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-out;
}
.transition-1.is-active {
    opacity: 1;
    pointer-events: all;
}
.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #F90493, #FF8BCF );
}
.main1 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow:scroll;
    background: white;
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo {
    flex-basis: 20%; }
.logo img{
    width:150px; }

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
}
.information {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
.mercedes {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 100%;
}
#circle {
    width: 1150px;
    height: 1150px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}
.nav-links ul li a:hover{
    background-color: hsl(325, 97%, 45%);
}
.feature img {
    width: 70px;
}
.feature {
    position: absolute;
    display: flex;
    color: white;
}
.feature div{
    margin-left: 30px;
}
.feature div pre {
    margin-top: 8px;
    text-align: left;
}
.one {
    top: 450px;
    left: 700px;
}
.two {
    top: 150px;
    left: 250px;
    transform: rotate(-90deg);
}
.three {
    bottom: 450px;
    right: 730px;
    transform: rotate(-180deg);
}
.four {
    bottom: 120px;
    right: 200px;
    transform: rotate(-270deg);
}
.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.controls h3{
    margin: 15px 0;
    color: white;
}
#uparrow {
    width: 15px;
    cursor: pointer;
}
#downarrow {
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}
.overlay {
    width: 0;
    height: 0;
    border-top: 500px solid white;
    border-right: 500px solid transparent;
    border-bottom: 500px solid white;
    border-left: 500px solid white;
    position:absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.nav-links a.active{
    color: #ffc7e8;
    font-weight: bold;
    font-size: 20px;
}
.information1 {
    background: white;
    color: #F90493;
    text-align: center;
    margin: auto;
    width: 90%;
    align-content: center;
}
.information1 p {
    font-size: 20px;
    margin: 22px;
}
.information1 .paraA {
    opacity: 60%;
    color: black;
}
.information1 h3 {
    margin: 10px;
    color: #FF8BCF;
}
.information1 h1 {
    color: #FF8BCF;
}
.information1 .titreA {
    color: #F90493;
}
.VehicleTypes h1 {
    text-align: center;    
}
.VehicleTypes .titleV {
    opacity: 60%;
}
.Type {
    align-items: center;
    justify-content: center;
    position: relative;
    display:grid;
}.Type .car1{
    padding: 10px;
    width: 550px;
    min-height: 180px;
}
.car1{
    display: flex;
    width:fit-content;
    min-width: 30%;
    border: 5px solid white;
    border-radius: 10%;
    background-color: hsl(0, 0%, 90%);
    margin: 5px;
}.car1 img{
    width: 50px;
}.details{
    list-style-type: none;
    text-align: left;
    padding: 10px;
    margin: 5px;
}.details button{
    margin-top: 10px;
    width: 50px;
    height: 30px;
    font-size: medium;
    background-color: transparent;
    color: #F90493;
    font-weight: bold;
    border-color: #F90493;
}.details button:hover {
    background-color: hsl(0, 0%, 85%);
}.column {
    display: flex;
}
.rentButton {
    z-index: 1;
    font-size: 20px;
    width: 110px;
    height: 50px;
    position: absolute;
    align-self: center;
    right: 400px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}.rentButton:hover{
    background-color: #FF8BCF
}
